@import '~vuetify/src/stylus/settings/_variables'
@import '~vuetify/src/stylus/theme.styl'

$body-font-family = 'Open Sans'

$material-light.background = #f3f3f3 !important
$material-light.text.primary = #37444d
$material-light.text-color = #37444d

$material-light.dividers = rgba(0,0,0,0.08)
